@import url(../vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');



.page {
    background: url(../images/background-stars.svg), #070724;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Spartan", sans-serif;
    margin: auto;
    min-height: 100vh;
}
